/*

Website Name: 
Theme URI: 
Description: 
Author: KMC Savills - Marketing (Web Developer - Manuel Aldrin Balbino)
Version: 1.0
Tags: 
License: 
License URI: 
*/

/****************************************
GLOBAL
****************************************/
body{
	background: #fff;
	color: #000;
	padding: 0;
	margin: 0;
	/* font-family: 'Helvetica', Arial, sans-serif; */
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	border: 0;
	box-sizing: border-box;
}

	body.overflow-body{
		overflow: hidden;
	}

	body.modal-open{
		padding-right: 0px !important;
	}

	body *{
		box-sizing: border-box;
	}

	ul, ol{
		padding-left: 0;
		list-style:  none;
	}

	.table{
		margin-bottom: 0;
	}

	a,
	a:hover,
	a:visited,
	a:focus,
	button,
	input,
	select,
	textarea,
	.slick-slide,
	.slick-arrow{
		outline: 0;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		text-decoration: none;
	}

	.section-wrapper{
		position: relative;
	}

	.hide{
		display: none;
	}

	#main-wrapper{
		overflow: hidden;
	}

	.ease-fast{
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}

	.ease-slow{
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
	}

	.custom-container{
		width: 100%;
	}

	.section-bg{
		background: #fff;
		position: relative;
		z-index: 100;
	}

	.container-rel{
		position: relative;
		z-index: 100;
	}

	.no-margin{
		margin-left: 0;
		margin-right: 0;
	}

	.no-gutter{
		padding-left: 0;
		padding-right: 0;
	}

	.center-section {
	    position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: 50px 0;
		z-index: 200;
	}

	.overflow-hidden{
		overflow: hidden;
	}


/*Magnific popup*/
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

	/* overlay animate in */
	.mfp-fade.mfp-bg.mfp-ready {
	  opacity: 0.8;
	}

	/* overlay animate out */
	.mfp-fade.mfp-bg.mfp-removing {
	  opacity: 0;
	}

	/* content at start */
	.mfp-fade.mfp-wrap .mfp-content {
	  opacity: 0;
	  -webkit-transition: all 0.15s ease-out;
	  -moz-transition: all 0.15s ease-out;
	  transition: all 0.15s ease-out;
	}

	/* content animate it */
	.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	  opacity: 1;
	}

	/* content animate out */
	.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	  opacity: 0;
	}

	.mfp-zoom-out-cur .mfp-image-holder .mfp-figure .mfp-close {
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: auto;
	    cursor: pointer;
	}

	.mfp-wrap .mfp-container{
		cursor: default;
	}

/* Header */
.header-wrap{
	min-height: 90px;
	background: #001844;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1025;
	padding: 10px 0;
}

	.header-logo {
		max-width: 140px;
	}

	  /*Header Contact*/
.header-contact {
	text-align: right;
	margin-top: 6px;
  }
	
	.hc-field {
	  display: inline-block;
	  vertical-align: middle;
	  margin-left: 15px;
	}
	
	.hc-address{
		display: block;
	}
	
	.hc-field i{
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		font-size: 20px;
		margin-right: 5px;
	}
	
	.hc-field a{
		display: inline-block;
	  	vertical-align: middle;
	  	color: #fff;
	  	font-size: 15px;
	  	font-weight: 400;
	  	max-width: 175px;
	}
	
	.header-smi{
	  	/* margin-right: -1px; */
	}
	
	.smi a{
		display: inline-block;
		vertical-align: middle;
		margin: 2px 1px;
		font-size: 16px;
		width: 30px;
		height: 30px;
		background: #fff;
		color: #001844;
		text-align: center;
		line-height: 30px;
	}
	
	  /*Hover*/
	  .hc-field a:hover{
		color: #1b3765;
	  }

	/* Header Navigation */
	.header-nav{
		text-align: right;
		margin-top: 11px;
	}
	
	.header-nav ul{
		margin-bottom: 0;
	}

	.header-nav ul li{
		display: inline-block;
		position: relative;
		margin: 2px 15px;
	}

	.header-nav ul li:last-child{
		margin-right: 0;
	}

	.header-nav ul li a{
		display: block;
		color: #fff;
		font-size: 13px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
		position: relative;
		line-height: 1;
	}


/* Slideshow */
.slideshow-wrap{
	/* background: url(../images/banner.jpg) no-repeat center / cover; */
	position: relative;
	height: 850px;
	overflow: hidden;
}

	.slideshow-slick-wrap{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.slideshow-item{
		height: 850px;
	}

	.slideshow-holder .slick-dots {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 100;
		text-align: right;
		padding: 10px 15px;
	}

	.slideshow-holder .slick-dots li{
		display: inline-block;
		vertical-align: middle;
		margin: 2px 4px;
	}

	.slideshow-holder .slick-dots li button {
		margin: 0;
		padding: 0;
		outline: 0;
		font-size: 0;
		height: 12px;
		width: 12px;
		border-radius: 50%;
		border: 2px solid #fff;
		background: #848484;
		box-shadow: 1px 1px 8px #000;
	}

	.slideshow-holder .slick-dots li.slick-active button{
		background: #000;
	}

	.slideshow-wrap::before{
		/* content: ''; */
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}

	.slideshow-holder{
		position: relative;
	}

	.slideshow-holder::before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		background: rgba(0,0,0,0.7)
	}

	.slideshow-holder::after{
		/*content: '';*/
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
		z-index: 2;
	}

	.slideshow-container {
		position: relative;
		z-index: 200;
		height: 100%;
	}

	.slideshow-content{
		position: absolute;
		/*left: 0;*/
		top: 36%;
		width: 100%;
		text-align: 	center;	
	}

	.title {
		/* font-family: 'Dancing Script', cursive;
		font-family: 'Cuprum', sans-serif;
		font-family: 'Roboto Condensed', sans-serif; */
		font-weight: 700;
		font-size: 100px;
		line-height: 0.9;
		color: #fff;
		/* text-shadow: 3px 3px 14px rgba(0, 0, 0, 0.4); */
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #000;
	}

	.title span{
		color: #fff;
		display: block;
	}

	.desc{
		/* font-family: 'Roboto', sans-serif; */
		font-size: 16px;
		max-width: 600px;
		margin: 54px auto 0;
		color: #fff;
		/* letter-spacing: 2px; */
	}

	.slideshow-btn a {
		display: block;
	    max-width: 150px;
	    width: 100%;
	    height: 40px;
	    color: #001844;
	    background: #ffe94f;
	    line-height: 40px;
	    text-transform: uppercase;
	    /* font-family: 'Roboto Condensed', sans-serif; */
	    text-align: center;
	    margin: 20px auto;
	    font-weight: 700;
	    letter-spacing: 1px;
	    /*box-shadow: 5px 5px 0px #001844;*/
	    box-shadow: inset 0 0 0 #6489c5;
	    transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -o-transition: all 0.3s;
	}

	.slideshow-btn a:hover {
		color: #ffffff;
	 	box-shadow: inset 0 100px 0 #6489c5;   
	}
/* CTA
====================================================================== */
.cta-wrap{
	padding: 50px 0;
}

	.cta-col {
	    position: relative;
	    margin-top: -175px;
	    z-index: 200;
	}

	.cta-photo{
		height: 550px;
		width: 100%;
		display: block;
		margin: auto;
		position: relative;
		overflow: hidden;
	}

	.cta-resi-photo{
		background: url(../images/rsm-bg.jpg) no-repeat bottom / cover;
	}

	.cta-property-photo{
		background: url(../images/pm-bg.jpg) no-repeat bottom / cover;
	}

	.cta-facilities-photo{
		background: url(../images/fm-bg.jpg) no-repeat bottom / cover;
	}

	.cta-link{
		color: #fff;
		font-size: 0;
	}

	.cta-label{
		text-align: center;
	    text-transform: uppercase;
	    font-size: 15px;
	    line-height: 1.2;
	    background: #1a3865;
	    height: 83px;
	    position: relative;
	}

	.cta-label::after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 0%;
		height: 10px;
		background: #ffe94e;
		transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	    -o-transition: all 0.5s;
	}

	.cta-col:nth-of-type(2) .cta-label{
		background: #1b2e4b;
	}

	.cta-label::before{
		content: '';
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	.cta-label span{
		display: inline-block;
		vertical-align: middle;
	}

	.cta-desc {
	    background: rgba(26, 56, 101, 0.8);
	    font-family: 'Lato', sans-serif;
	    font-weight: 300;
	    text-align: center;
	    padding: 15px 40px;
	    position: relative;
	    height: 100%;
	    display: block;
	    font-size: 0;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	    -o-transition: all 0.5s;
	    opacity: 0;
	    margin-top: -200px;
	}

	.cta-desc::before{
		content: '';
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	.cta-desc-center{
		display: inline-block;
		vertical-align: middle;
		font-size: 17px;
	}

		/*Hover*/
		.cta-link:hover{
			color: #fff;
		}

		.cta-link:hover .cta-desc{
			margin-top: 0;
			opacity: 1;
		}

		.cta-link:hover .cta-label::after{
			width: 100%;
		}

/* Services
====================================================================== */
.services-item-main {
    position: relative;
    padding-bottom: 188px;
    margin-bottom: 68px;
}

	.services-item-wrap{
		max-width: 1040px;
		width: 100%;
		display: block;
		border: 2px solid #ececec;
		/*min-height: 490px;*/
		position: relative;
		padding: 50px 45px 170px;
	}

	.services-item-main:nth-child(even) .services-item-wrap{
		margin-left: auto;
	}

	.services-item-label{
		font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		font-weight: 900;
		display: inline-block;
		vertical-align: bottom;
		line-height: 1;
		position: relative;
		margin-bottom: 27px;
	}

	.services-item-label em{		
		font-style: normal;
		font-size: 44px;
		color: #dcdcdc;
	}

	.services-item-label span{
		font-size: 22px;
		color: #1a3865;
		padding-left: 35px;
	}

	.services-item-desc {
	    font-size: 16px;
	    font-family: 'Lato', sans-serif;
	    line-height: 1.5;
	    max-width: 785px;
	    color: #0c2053;
	    margin-left: 87px;
	}

	.services-item-main:nth-child(even) .services-item-img{
		text-align: left;
	}

	.services-item-img {
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    width: 100%;
	    text-align: right;
	}

	.services-item-main:nth-child(even) .services-item-img div{
		box-shadow: 17px 22px 32px rgba(0, 0, 0, 0.25);
	}

	.services-item-img div{
		height: 310px;
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		box-shadow: -17px 22px 32px rgba(0, 0, 0, 0.25);
	}

	.services-item-img div:nth-child(odd){
		margin-right: 15px;
	}

	.services-item-img-1a{
		background: url(../images/services-img-1a.jpg) no-repeat center / cover;
		max-width: 625px;
	}

	.services-item-img-1b{
		background: url(../images/services-img-1b.jpg) no-repeat center / cover;
		max-width: 310px;
	}

	.services-item-img-2a{
		background: url(../images/services-img-2a.jpg) no-repeat center / cover;
		max-width: 625px;
	}

	.services-item-img-2b{
		background: url(../images/services-img-2b.jpg) no-repeat center / cover;
		max-width: 310px;
	}

	.services-item-img-3a{
		background: url(../images/services-img-3a.jpg) no-repeat center / cover;
		max-width: 625px;
	}

	.services-item-img-3b{
		background: url(../images/services-img-3b.jpg) no-repeat center / cover;
		max-width: 310px;
	}

/* About
====================================================================== */
.about-field{
	min-height: 500px;
}

	.about-content-wrap {
	    background: #1a3865;
	    color: #fff;
	    font-family: 'Lato', sans-serif;
	    padding: 60px 40px;
	}

	.about-photo-wrap{
		background: url(../images/about-img.jpg) no-repeat center / cover;
		position: relative;
	}

	.about-label {
	    font-size: 40px;
	    line-height: 1;
	    margin-bottom: 20px;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	    padding-bottom: 10px;
	}

	.about-desc{
		font-size: 17px;
		font-weight: 300;
	}

	.about-desc p{
		margin-bottom: 30px;
	}

	.about-desc p:last-child{
		margin-bottom: 0;
	}

	.about-link{
		height: 80px;
		display: block;
		background: #ffe94f;
		padding: 0 30px;
		line-height: 80px;
		font-size: 18px;
		font-family: 'Lato', sans-serif;
		color: #00036d;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
	}

		.about-link::before{
			content: '';
			height: 30px;
			width: 30px;
			background: url(../images/right-arrow.png) no-repeat center / 15px 15px;
			border-radius: 50%;
			border: 1px solid #4f5278;
			z-index: 10;
			position: absolute;
			right: 22px;
			bottom: calc(50% - 15px);
		}

		.about-link::after{
			content: '';
			height: 30px;
			width: 30px;
			background: url(../images/right-arrow-white.png) no-repeat center / 15px 15px;
			border-radius: 50%;
			border: 1px solid #fff;
			z-index: 10;
			position: absolute;
			right: 22px;
			bottom: calc(50% - 15px);
			opacity: 0;
			transition: all 0.5s;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-o-transition: all 0.5s;
			z-index: 15;
		}

		/*Hover*/
		.about-link:hover{
			color: #fff;
			background: #6489c5;
		}

		.about-link:hover::after{
			opacity: 1;
		}




/* Newsletter
====================================================================== */
.newsletter-wrap {
    padding: 30px 0;
    background: #fbfbfb;
    text-align: center;
}

  .newsletter-wrap *{
    box-sizing: border-box;
  }

  .newsletter-label {
    font-size: 20px;
    line-height: 1;
    color: #2a2a2a;
    font-weight: 400;
    width: 40%;
    margin: 9px 0;
	text-align: left;
	/* font-family: 'Roboto Condensed', sans-serif; */
	text-transform: uppercase;
  }

  .newsletter-email {
    width: 38%;
    height: 40px;
    padding: 0 15px;
    font-size: 12px;
	border: 0;
	border-bottom: 1px solid #ccc !important;
	color: #000;
	background: #fbfbfb;
	/* font-family: 'Roboto', sans-serif; */
	text-transform: uppercase;
  }

  .newsletter-submit {
      border: 0;
      font-size: 15px;
      text-transform: uppercase;
      height: 40px;
      width: 15%;
      margin-left: 1%;
	  cursor: pointer;
	  background: #2a2a2a;
	  border-radius: 0;
	  color: #fff;
	  /* font-family: 'Roboto Condensed', sans-serif; */
  }

  .n-field {
      display: inline-block;
      vertical-align: top;
  }

  .newsletter-submit:hover {
	  background: #ffe94f;
	  color: #2a2a2a;
  }


/* Contact */
.contact-wrap{
	/*background: url(../images/contact-bg-left.jpg) fixed no-repeat  top / cover;*/
	position: relative;
	padding: 100px 0;
	text-align: center;
	color: #2a2a2a;
}

	.contact-label{
		font-size: 35px;
	    color: #1a3865;
	    margin-bottom: 40px;
	}
	
	.contact-form-main {
		background: #ffe94f;
		padding: 50px 15px;
		margin: 0 auto;
		box-shadow: 17px 22px 32px rgba(0, 0, 0, 0.25);
		font-size: 0;
	}

	.contact-form-main input,
	.contact-form-main textarea {
		display: block;
		width: 100%;
		
		/* font-family: 'Roboto', sans-serif; */
		font-weight: 400 !important;
		font-size: 13px;
		padding: 0 10px !important;
		text-indent: 0 !important;
		height: 40px !important;
		background: #fff;
		border: 0 !important;
		/*border-bottom: 1px solid #ccc !important;*/
		/* box-shadow: -2px 3px 9px rgba(0, 0, 0, 0.2); */
		outline: 0 !important;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		margin: 0 auto 10px;
		/*text-transform: uppercase;*/
	}

	.contact-form-main textarea{
		height: 90px !important;
		resize: none;
		padding-top: 5px !important;
	}

	.contact-form-main input[type="submit"]{
		background: #1a3865;
		border-radius: 0;
		color: #fff;
	}

	.contact-form-main dl{
		margin-bottom: 0;
	}

	.blockContactFormCol1,
	.blockContactFormCol2 {
	    display: inline-block;
	    vertical-align: top;
	    width: 50% !important;
	    padding: 15px;
	}

/*Footer*/
.footer-wrap {
    text-align: center;
    padding: 50px 0;
    background: #fff;
    font-size: 12px;
	color: #2a2a2a;
	/* font-family: 'Roboto Condensed', sans-serif; */
}

  .footer-logo a{
    display: inline-block;
  }

  .footer-logo img{
    max-width: 180px;
    width: 100%;
    margin: auto;
  }

  .footer-logo-text{
    text-transform: uppercase;
    margin: 10px 0 30px;
  }

  .footer-logo-text em{
    display: block;
    font-style: normal;

  }

  .fc-field a,
  .fc-field.fc-address,
  .fc-field strong{
    color: #2a2a2a;
	font-size: 16px;
	font-weight: 700;
    text-decoration: none;
  }

  .contact-separator {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    height: 20px;
    background: #2a2a2a;
    width: 1px;
  }

  .fc-smi{
    margin: 20px 0;
  }

  .fc-smi a{
	font-size: 25px;
	font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
    height: 40px;
    width: 40px;
    color: #2a2a2a;
    line-height: 40px;
    text-decoration: none;
  }

  	.footer-nav .menu li a {
	    display: block;
	    font-size: 15px;
	    text-transform: uppercase;
	    color: #2a2a2a;
	}

	.footer-nav .menu li {
	    display: inline-block;
	    vertical-align: middle;
	    margin: 3px 15px;
	}

  .footer-credits{
    margin: 50px 0 0px;
	font-size: 14px;
	color: #2a2a2a;
  }

  .footer-credits p{
    margin: 0;
  }

  .footer-credits a{
    color: #2a2a2a;
    text-decoration: underline;
  }

  .footer-modal .modal-body {
      height: 300px;
      overflow-y: auto;
      text-align: justify;
  }

    /*Hover*/
    .footer-wrap a:hover {
        color: #ffe94e;
    }

    .fc-smi a:hover {
        color: #2a2a2a;
        background: #6489c6;
    }

/****************************************
INNER PAGES
****************************************/
.site-content-wrap{
	padding-top: 100px;
}

	.ip-header-wrap{
		/* box-shadow: 1px 1px 15px rgba(0,0,0,0.5); */
	}

	.content-entry{
		min-height: 500px;
	}

	.ip-banner{
		min-height: 500px;
		position: relative;
	}


	.ip-banner::before{
		/*content: '';*/
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
		z-index: 2;
		opacity: 0.5;
	}
	

	.residential-banner{
		background: url(../images/residential-banner.jpg) no-repeat center top / cover;
	}

	.entry-title{
		text-transform: uppercase;
		color: #2a2a2a;
		line-height: 1;
		position: relative;
		padding-bottom: 50px;
	}

	.entry-title span {
		/* font-family: 'Roboto', sans-serif; */
		font-size: 14px;
		font-weight: 300;
		font-weight: 400;
		display: block;
	}

	.entry-title h1 {
		/* font-family: 'Roboto Condensed', sans-serif; */
		font-size: 60px;
		font-weight: 700;
		letter-spacing: 4px;
		margin: 0;
		text-shadow: 1px 1px 0px #000;
	}

	.entry-title p{
		text-transform: none;
		font-size: 15px;
		/* font-family: 'Roboto', sans-serif; */
	}

/* Residentail Management */
.residential-page {
    background: #abc8ce;
}

.residential-page .header-logo{
	visibility: hidden;
}

	/* Resi Banner */
	.resi-banner{
		height: 645px;
		position: relative;
		/* background: #e8e8e8; */
		background: #abc8ce;
		text-align: center;
		padding-top:  345px;
		overflow: hidden;
	}

	.resi-logo{
		max-width: 143px;
		width: 100%;
		display: block;
		margin: 0 auto;
		position: relative;
		z-index: 100;
	}

	.resi-label{
		position: relative;
		z-index: 100;

	}

	.resi-label h1{
		margin: 32px 0 5px;
		line-height: 1;
		text-transform: uppercase;
		font-family: 'Italiana', serif;
		color: #fff;
		font-size: 43px;
		letter-spacing: 1px;
		text-shadow: 1px 1px 0px #000;
	}

	.resi-label span{
		display: block;
		font-family: 'Montserrat', sans-serif;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 11px;
		letter-spacing: 1px;
	}

	.arrow-down-icon{
		height: 40px;
		width: 40px;
		border-radius: 50%;
		border: 1px solid #fff;
		display: block;
		margin: auto;
		position: relative;
		cursor: pointer;
		z-index: 100;
	}

	.arrow-down-icon::before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/down-arrow-white.png) no-repeat center / contain;
		transform: scale(0.6);
		transform-origin: center;
		opacity: 0.6;
	}

	.resi-down-arrow{
		max-width: 230px;
		width: 100%;
		margin: 33px auto 0;
		position: relative;
		z-index: 100;
	}

	.resi-down-arrow::before{
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 30%;
		height: 1px;
		background: #fff;
	}

	.resi-down-arrow::after{
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		width: 30%;
		height: 1px;
		background: #fff;
	}

	.section{
		position: relative;
	}


	/* Resi Section 1 */
	.resi-section-1-wrap{
		min-height: 1125px;
		position: relative;
		/* background: url(../images/resi-section-1-bg.jpg) no-repeat center / cover; */
		padding: 145px 0 30px;
	}

	.resi-section-1-text {
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		max-width: 630px;
		font-size: 20px;
		text-align: right;
		margin-left: auto;
		text-shadow: 1px 1px 0 #000;
	}

	.resi-section-1-text p{
		margin-bottom: 40px;
	}

	/* Resi Section 2 */
	.resi-section-wrap{
		min-height: 658px;
		overflow: hidden;
		position: relative;
		/* background: url(../images/resi-section-2-bg.jpg) no-repeat center / cover; */
		padding: 130px 0 120px;
		transition: all 1s;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-o-transition: all 1s;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.fixed-section{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
	}


	.resi-section-2-wrap{
		background: url(../images/resi-section-2-bg.jpg) no-repeat center / cover;
	}

	.resi-section-text-wrap{
		max-width: 410px;
		width: 100%;
		background: rgba(0, 0, 0, 0.8);
		color: #fff;
		min-height: 410px;
		text-align: center;
		padding: 24px;
	}

	.resi-section-2-text-wrap,
	.resi-section-4-text-wrap{
		margin-left: auto;
	}

	.resi-section-4-text-wrap{
		min-height: auto;
	}

	.rs-label{
		font-family: 'Italiana', serif;
		font-size: 22px;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 16px;
		margin-bottom: 20px;
	}
	
	.rs-label::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 18px;
		height: 18px;
		display: block;
		margin: auto;
		background: url(../images/down-arrow-white.png) no-repeat center / contain;
	}

	.resi-section-text{
		border: 1px solid #fff;
		min-height: 365px;
		padding: 20px 12px;
	}

	.resi-section-4-text.resi-section-text{
		min-height: 190px;
	}

	

	.resi-section-text p{
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
		line-height: 1.3;
		margin-bottom: 18px;
	}

	/* .zoom{
		overflow: hidden;
		background-image: url(../images/resi-section-2-bg.jpg);   
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
	} */


	.resi-section-2{
		background: url(../images/resi-section-2-bg.jpg) no-repeat center / cover;
		padding: 30px;
	}

	.resi-section-3{
		background: url(../images/resi-section-3-bg.jpg) no-repeat center / cover;
		padding: 30px;
	}

	.resi-section-4{
		background: url(../images/resi-section-4-bg.jpg) no-repeat center / cover;
		padding: 30px;
	}

	.section-text-bg{
		width: 50%;
		height: 0%;
		transition: all 0.8s;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		-o-transition: all 0.8s;
		position: relative;
		overflow: hidden;
		/* box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5); */
	}

	.section-text-bg::before {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background: rgba(255, 255, 255, 0.3);
		transform: skew(-20deg);
	}

	.section-text-bg.section-text-bg-1{
		background: rgba(46, 80, 90, 0.70);
	}

	.section-text-bg.section-text-bg-2{
		background: rgba(75, 55, 57, 0.6);
		margin-left: auto;
	}

	.section-text-bg.section-text-bg-3{
		background: rgba(92, 85, 79, 0.6);
	}

	.section-text-bg.section-text-bg-2 .resi-cta-bg{
		margin-left: 0;
		margin-right: 7%;
		right: 0;
	}



	.resi-fullheight {
		height: 100%;
	}

	.resi-cta-bg {
		background: rgba(0,0,0,0.8);
		padding: 27px;
		position: absolute;
		max-width: 410px;
		width: 100%;
		display: block;
		top: calc(50% - 205px);
		margin-left: 7%;
	}

	.resi-cta-border {
		border: 1px solid #fff;
		min-height: 355px;
		text-align: center;
		color: #fff;
		padding: 15px 25px;
	}

	.resi-cta-label {
		margin: 0;
		font-size: 22px;
		font-family: 'Italiana', serif;
		line-height: 1;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 26px;
		margin-bottom: 17px;
	}

	.resi-cta-label::after{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 22px;
		height: 13px;
		background: url(../images/down-arrow-white.png) no-repeat center  / cover;
	}

	.resi-cta-border p{
		font-size: 13px;
		margin-bottom: 20px;
	}

	.resi-cta-border p:last-child{
		margin-bottom: 0;
	}
	
	/* Resi Infographics Section */
	.resi-section-5 {
		padding: 200px 0 100px;
		background: #b5e0d4;
	}

	.infographics-border{
		border: 1px solid #707070;
		min-height: 400px;
		text-align: center;
		opacity: 0;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		padding-top: 125px;
	}

	.info-number{
		font-size: 70px;
		font-family: 'Italiana', serif;
		color: #8a8a8a;
		line-height: 1;
	}

	.info-label{
		font-size: 17px;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		color: #8a8a8a;
		margin-top: 10px;
	}

	/* Resi Contact Section*/
	.resi-section-6{
		background: url(../images/resi-section-6-bg.jpg) no-repeat center bottom/ cover;
		
	}

	.resi-contact-text {
		color: #848486;
		font-family: 'Montserrat', sans-serif;
		max-width: 520px;
		font-size: 20px;
		margin-top: 100px;
	}

	.resi-contact-label{
		color: #848486;
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		margin-top: 60px;
		margin-bottom: 35px;
	}

	.resi-contact-btns li{
		display: inline-block;
		vertical-align: middle;
		/*width: 135px;*/
		padding: 0 15px;
		height: 54px;
		background: #636363;
		border-radius: 40px;
		color: #fff;
		font-size: 19px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		line-height: 54px;
		margin-right: 11px;
		cursor: pointer;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		box-shadow: inset 0 0 0 #000;
	}

	.resi-contact-btns li:hover{
		box-shadow: inset 0 0 100px #000;
	}

	.resi-contact-form{
		max-width: 880px;
	    width: 100%;
	    position: relative;
	    display: block;
	    margin: 100px 0;
	    font-size: 0;
	}

	.resi-contact-form input,
	.resi-contact-form textarea {
		background: #fff;
		border: 0;
		width: 100%;
		margin-bottom: 10px;
		height: 50px;
		padding: 10px 15px;
		font-size: 15px;
	}

	.resi-contact-form textarea{
		resize: none;
		height: 106px;
	}

	.resi-contact-form dl{
		margin-bottom: 0;
	}

	.resi-contact-form input[type="submit"]{
		height: 54px;
		background: #636363;
		color: #fff;
		font-size: 19px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		line-height: 54px;
		cursor: pointer;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		box-shadow: inset 0 0 0 #000;
		padding: 0;
	}

	/*Resi Scroll Down*/
	.scroll-down-wrap{
		position: fixed;
		right: 10px;
		bottom: 20%;
		z-index: 2000;
		-webkit-animation: ScrollDown 1s linear infinite alternate;
    	animation: ScrollDown 1s linear infinite alternate;
	}

	-webkit-@keyframes ScrollDown {
        0%   {transform: translateY(0);}
        100% {transform: translateY(40px);}
    }

    @keyframes ScrollDown {
        0%   {transform: translateY(0);}
        100% {transform: translateY(40px);}
    }

	.scroll-down-main{
		position: relative;
	}

	.scroll-down-main::before{
		content: '';
		height: 60px;
		width: 1px;
		background: #5e5e5e;
		left: 0;
		right: 0;
		top: -75px;
		margin: auto;
		position: absolute;
	}

	.scroll-down-main::after{
		content: '';
		height: 20px;
		width: 20px;
		background: url(../images/down-arrow.png) no-repeat center / contain;
		left: 0;
		right: 0;
		bottom: -25px;
		margin: auto;
		position: absolute;
	}

	.scroll-down-main span{
		display: block;
		font-family: 'Italiana', serif;
		font-size: 13px;
		text-transform: uppercase;
		text-align: center;
		cursor: pointer;
		line-height: 1;
	}

	/*Scroll up arrow*/
	.scroll-up-wrap{
		display: none;
		position: fixed;
		right: 10px;
		bottom: 10%;
		z-index: 2000;
		-webkit-animation: ScrollDown 1s linear infinite alternate;
    	animation: ScrollDown 1s linear infinite alternate;
	}

	.scroll-up-main span{
		display: block;
		font-family: 'Italiana', serif;
		font-size: 13px;
		text-transform: uppercase;
		text-align: center;
		cursor: pointer;
		line-height: 1;
	}

	.scroll-up-main::before{
		content: '';
		height: 60px;
		width: 1px;
		background: #5e5e5e;
		left: 0;
		right: 0;
		bottom: -75px;
		margin: auto;
		position: absolute;
	}

	.scroll-up-main::after{
		content: '';
		height: 20px;
		width: 20px;
		background: url(../images/down-arrow.png) no-repeat center / contain;
		left: 0;
		right: 0;
		top: -25px;
		margin: auto;
		position: absolute;
		transform: rotateX(180deg);
	}


	/*Resi Pagination*/
	.resi-pagination-wrap{
		position: fixed;
		right: 20px;
		bottom: 50%;
		z-index: 2000;
	}

	.resi-pagination span{
		display: none;
	}

	.resi-pagination li{
		display: block;
		position: relative;
	}

	.resi-pagination li a{
		display: block;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		margin: 5px 4px;
		background: #5e5e5e;
	}

	.resi-pagination li a.active{
		background: #fff;
	}

	.video-main{
		position: absolute;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	}

	.video-main::before {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(165, 194, 203, 0.8);
	    z-index: 2;
	}

	.video-main video {
	    width: 100% !important;
	    height: 100% !important;
	    position: absolute;
	    left: 0;
	    top: 0;
	    object-fit: cover;
	    z-index: 1;
	    opacity: 0;
	    transform: scale(1.2);
	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -o-transform: scale(1.2);
	}




/* Property Management */
.property-banner{
	/* background: url(../images/property-banner.jpg) no-repeat center / cover; */
	height: 815px;
}

	.property-field{
		height: 418px;
	}

	.property-label-wrap{
		text-transform: uppercase;
		color: #fff;
		font-family: 'Lato', sans-serif;
		background: #1a3865;
		line-height: 1.3;
	}

	.property-label-wrap::before{
		content: '';
		position: absolute;
		right: 17px;
		top: 17px;
		width: 14px;
		height: 14px;
		background: #ffe94f;
	}

	.property-main-label{
		font-size: 0;
		position: relative;
		height: 319px;
		text-align: center;
	}

	.property-main-label::before{
		content: '';
		height: 100%;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}

	.property-main-label span{
		display: inline-block;
		vertical-align: middle;
		font-size: 38px;
		text-align: left;
	}

	.property-main-wrap {
	    position: absolute;
	    left: 0;
	    bottom: -99px;
	    width: 100%;
	}

	.property-sub-label{
		height: 99px;
		width: 100%;
		display: block;
		background: #b1c5e2;
		text-align: center;
		line-height: 99px;
		font-size: 17px;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		letter-spacing: 2px;
	}

	.property-desc{
		background: #fff;
		font-size: 19px;
		color: #656565;
		padding: 104px 15px 15px;
	}

	.property-desc p{
		max-width: 475px;
		width: 100%;
		display: block;
		margin: auto;
	}

	.property-tagline-wrap{
		background: #e9e9e9;
		height: 388px;
		padding: 224px 15px 15px;
	}

	.property-tagline-wrap h1{
		font-size: 19px;
	    text-align: center;
	    color: #646464;
	    width: 100%;
	    max-width: 540px;
	    margin: auto;
	}

	.property-offers-wrap{
		padding: 140px 0 90px;
	}

	.property-offers-col {
	    min-height: 407px;
	    position: relative;
	    padding: 135px 60px 15px;
	}

	.property-offers-photo-1{
		background: url(../images/property-img-1.jpg) no-repeat center / cover;
	}
	.property-offers-photo-2{
		background: url(../images/property-img-2.jpg) no-repeat center / cover;
	}
	.property-offers-photo-3{
		background: url(../images/property-img-3.jpg) no-repeat center / cover;
	}
	.property-offers-photo-4{
		background: url(../images/property-img-4.jpg) no-repeat center / cover;
	}

	.property-offers-content{
		border: 1px solid #ececec;
	}

	.property-offers-label {
	    font-family: 'Lato', sans-serif;
	    text-transform: uppercase;
	    font-weight: 900;
	    display: inline-block;
	    vertical-align: bottom;
	    line-height: 1;
	    position: relative;
	    margin-bottom: 27px;
	}

	.property-offers-label em {
	    font-style: normal;
	    font-size: 23px;
	    color: #808080;
	    display: inline-block;
	    vertical-align: top;
	    width: 54px;
	}

	.property-offers-label span {
		font-size: 22px;
		color: #000000;
		display: inline-block;
		vertical-align: top;
		width: calc(99% - 54px);
	}

	.property-offers-desc{
		color: #6b6b6b;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
	}

	.property-offers-desc p {
	    max-width: 370px;
	    width: 100%;
	    margin-left: 53px;
	}

	.property-slogan-container{
		min-height: 400px;
		background: #1a3865;
	}

	.property-slogan-main{
		color: #fff;
		font-family: 'Lato', sans-serif;
		text-align: center;
		padding: 83px 0px 15px;
	}

	.property-slogan-main h2{
		font-size: 38px;
		margin: 0 0 18px;
	}

	.property-slogan-main p{
		font-size: 21px;
		max-width: 710px;
		width: 100%;
		display: block;
		margin: 0 auto;
		font-weight: 300;
	}

	.property-slogan-circle{
		position: relative;
		max-width: 550px;
		width: 100%;
		display: block;
		margin: 51px auto 15px;	
	}

	.property-slogan-circle::before,
	.property-slogan-circle::after{
		content: '';
		position: absolute;
		top: 0;
		display: block;
		height: 60px;
		width: 60px;
		border-radius: 50%;
		background: #ffe94f;
	}

	.property-slogan-circle::before{
		left: 0;
	}

	.property-slogan-circle::after{
		right: 0;
	}

	.property-slogan-circle i{
		display: block;
		height: 60px;
		width: 60px;
		border-radius: 50%;
		background: #ffe94f;
		margin: auto;
	}


/* Facilities */
.facilities-banner{
	background: url(../images/facilities-banner.jpg) no-repeat center bottom / cover;
	height: 815px;
}

	.facilities-offers-wrap{
		padding-bottom: 0;
	}

	.facilities-field{
		min-height: 638px;
		position: relative;
	}

	.facilities-photo{
		background: url(../images/facilities.jpg) no-repeat center / cover;
	}

	.facilities-content{
		background: #1a3865;
	}

	.facilities-main-wrap{
		margin-bottom: 100px;
	}

	.facilities-sub-desc{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 95px;
		background: #b1c5e2;
	}

	

	
/*Contact*/
.contact-banner{
	background: url(../images/contact-banner.jpg) no-repeat center  / cover;
}
	
	.contact-map iframe{
		width: 100%;
		height: 400px;
		border: 0;
	}

	.contact-form-label {
		font-family: 'Lato', sans-serif;
	    font-size: 30px;
	    margin-bottom: 30px;
	}

	

		
	
	


/****************************************
MEDIA QUERIES
****************************************/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}